body, html {
  overflow: hidden;
  height:100%;
  color:#000;
  margin: 0;
  counter-reset: contentNumber;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@media (min-width: 200px){
  #left {
    position: absolute;
    top: 0px;
    bottom: 0;
    left: 0;
    width: 25%;
    overflow-y: scroll; 
    overflow-x: hidden;
  }
  
  #right {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    overflow-y: scroll;
    width: 75%;
  }
}


#link{
  padding: 0px;
}

#main {
  padding: 100px;
}

#contents::before{
  counter-increment: contentNumber; content: counter(contentNumber) ".";
}

#left {
  background-color: #ffffff;
  text-align: right;
  padding-top: 10px;

  border-right: 1px solid #ddd;
}

#page-title {
  text-align: center;
  top: 0; position: sticky;
  background: #ffffff;
  margin-top: 0;
  margin-left: 50px;
}

input {
  border: none;
  background-color: transparent;
  resize: none;
  outline: none;
  border-bottom: 1px solid #ddd;
}


