body, html {
  overflow: hidden;
  height:100%;
  color:#000;
  margin: 0;
  counter-reset: contentNumber;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (min-width: 200px){
  #right {
    margin-left: 0px;
    text-align: left;
    position: absolute;
    top: 0px;
    bottom: 0;
    left: 0;
    width: 70%;
    overflow-y: scroll; 
    overflow-x: hidden;
    border-right: 5px solid #f6f8fa;
  }
  
  #left {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    overflow-y: scroll;
    width: 25%;
  }

/*
overrides some markdown styling
*/

#right a {
  color: rgb(0, 106, 255);
}


}

#path {
  text-align: left;
}

#link{
  padding: 0px;
}

#main {
  padding: 35px;
  padding-right: 20px;
}

#left {
  background-color: #ffffff;
  text-align: right;
  padding-top: 10px;
  border-right: 1px solid #f6f8fa;
}

#page-title {
  text-align: center;
  top: 0; position: sticky;
  background: #ffffff;
  margin-top: 0;
}

input {
  border: none;
  background-color: transparent;
  resize: none;
  outline: none;
  border-bottom: 1px solid #f6f8fa;
}

#contents {
  transition: 0.3s ease 0s;
  text-align: left;
}

#contents:hover{
  transform: translateX(-5px);
  transition: 0.3s ease 0s;
}

#contents > a:hover {
  color:#364049bc !important;
  transition: 0.3s ease 0s;
  border-right: 1px solid #364049bc;
  padding-right: 5px;
}

#right a:hover {
  text-decoration: underline;
}
